<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Avantrz"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.Avantrz.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.Avantrz.UserProfile"></activity>

        <activity android:name="com.example.Avantrz.AboutUs" />

        <activity android:name="com.example.Avantrz.OnBoarding" />

        <activity android:name="com.example.Avantrz.PlayerActivity" />

        <activity
            android:name="com.example.Avantrz.LibrarySongs"
            android:label="Tu musica"
            android:theme="@style/LibraryTheme" />

        <activity android:name="com.example.Avantrz.Dashboard" />

        <activity android:name="com.example.Avantrz.SignUp" />

        <activity android:name="com.example.Avantrz.Login" />

        <activity android:name="com.example.Avantrz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="com.example.Avantrz.MusicService"
            android:enabled="true" />

        <receiver
            android:name="com.example.Avantrz.NotificationReciever"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="actionprevious" />
                <action android:name="actionnext" />
                <action android:name="actionplay" />
                <action android:name="actiondelete" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>